<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870136365042-o6jbllk0juj6istgl1j1g53r8ajm0flm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870136365042-o6jbllk0juj6istgl1j1g53r8ajm0flm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>870136365042-9ndjfq8g8ev47evqk4lva691f8f6j2o1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0rQtc6ze3QTPMeHgqxdhIl9N7mIsRbNE</string>
	<key>GCM_SENDER_ID</key>
	<string>870136365042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.bfstream</string>
	<key>PROJECT_ID</key>
	<string>brightpath-1c68c</string>
	<key>STORAGE_BUCKET</key>
	<string>brightpath-1c68c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870136365042:ios:3549a29dcde5c054e1f56b</string>
	<key>DATABASE_URL</key>
	<string>https://brightpath-1c68c.firebaseio.com</string>
</dict>
</plist>